  <div class="container px-2">
    <div class="row">
      <div class="col">
        <div class="form-check" *ngFor="let todo of todoService.getTodos()">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="tasktext" for="defaultCheck1">
            <input type="text" value="{{todo.text}}" class="tasktext" >
            <div>{{todo.text}}</div>
          </label>
        </div>   
</div>
<div class="col">
    <button class="btn btn-outline-secondary" (click)="removeTodo()"><i class="fas fa-trash fa-1x"></i></button> 
    </div>
</div>
 </div>

    
 






