i {
    color: #664574;
}
.btn .btn-outline-secondary{
    color: #664574;

}
.container {
    margin: auto;
}
.tasktext{
    font-style: normal; 
}
#defaultCheck1:checked ~ .tasktext {
    font-style: italic;
}
