  <div class="container px-2">
    <div class="row">
      <div class="col">
    <div class="input-group mb-1" id="check" >
        <input class="form-check-input mt-2" type="checkbox" value="" aria-label="Checkbox for following text input">
        <input type="text" class="form-control" aria-label="Text input with checkbox" 
        value="{{todo.text}}" >
  </div>
</div>
<div class="col">
    <button class="btn btn-outline-secondary" (click)="removeTodo()"><i class="fas fa-trash fa-1x"></i></button> 
    </div>
  </div>
 </div>

    
 






